{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
     "airbnb/base"
  ],
  "ecmaFeatures": {
    "sourceType": "module"
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false
  }
}