{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb/base"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "arrow-body-style": 0
  }
}