{
  "root": true,
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb/base"
  ],
  "ecmaFeatures": {
    "sourceType": "module"
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false
  },
  "rules": {
    "arrow-body-style": 0
  }
}